.cardArea {
  margin-left: 5%;
}

h2 {
  font-size: 200%;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  margin-bottom: 1%;
}

.wrapper {
  text-align: center;
}

.reset {
  background-color: #c4bbad;
  border: solid;
  border-color: #44625e;
  color: #44625e;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}

.success {
  background-color: #c4bbad;
  border: solid;
  border-color: #44625e;
  color: #44625e;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  padding: 2%;
  font-weight: bold;
  align-self: center;
}

.numberSubmit {
  background-color: #c4bbad;
  border: solid;
  border-color: #44625e;
  color: #44625e;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}

.numberBox {
  background-color: #c4bbad;
  color: #44625e;
  font-family: 'Raleway', sans-serif;
  border: solid;
  border-color: #44625e;
  width: 10%;
  text-align: center;
}

.numInp {
  background-color: #c4bbad;
  border: solid;
  border-color: #44625e;
  color: #44625e;
  font-family: 'Raleway', sans-serif;
  padding: 2%;
  font-weight: bold;
  align-self: center;
}

@media only screen and (min-width: 900px) {
	.game {
    width: 900px;
  }
  .cardArea {
    margin-left: 13%;
  }
}
